body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Helvetica, Arial, Sans-serif;
    font-size: 12.5px;
}

#map {
    position: inline-block;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
}

#console {
    position: inline-block;
    width: 100%;
    height: auto;
    background-color: rgba(51, 51, 51, 0.6);
    border: solid 0.1px grey;

}

h1 {
    font-family: PT Sans Narrow;
    font-weight: normal;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#map-title{
    position: absolute;
    z-index: 1;
    line-height: 26px;
    padding:10px;
    color:#f3f3f3;
    background-color: rgba(51, 51, 51, 0.6);
}

#adb {
    position: fixed;
    visibility: visible;
    color: #333333;
    z-index: -999999;
    /* height: 100px; */
    width: 30%;
    margin-left: 25%;
    margin-top: 100px;
}

#carbon-brief-logo{
    width: 120px;
    position: absolute;
    top: 530px;
    z-index: 1;
    right: 0px;
}

#cb-logo{
    display: none;  
}

#sliderbar.session{
    width:70%;
    margin-left: 5%;
    margin-right: -10%;
    margin-bottom: 4%;
    display: inline-table;
}

#attribution {
    width:30%;
    font-size:10px;
    padding-top:3%;
    text-align: right;
    display: inline-table;
}

.colors {
 background: linear-gradient(to right, #ffffcc, #78c679, #006837 );
 margin-bottom: 5px;
 height: 3px;
}

h2 {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #f3f3f3;
    padding:1.2%;
}

h3 {
  font-family: 'PT Sans Narrow', Helvetica, Arial, Sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.label-title {
  color: #bfc2bd;
  font-weight: bold;
}

input#slider.row{
    margin-left: 1.2%;
    width:75%;
    margin-bottom: 2%;
}

#instructions{
    margin-left: 1.2%;
    font-family:'Pt Serif';
    color:#f3f3f3;
}

input#slider.row:hover{
    cursor: -webkit-grab; 
    cursor: grab;
}

.row {
    height: 12px;
    width: calc(100% - 25%);
    margin-left: 1.3%;
}

.column {
    float: left;
    width: 33.33%;
    color:#f3f3f3;
}

.columns {
    float: left;
    width: 33.33%;
    margin-top:10px;
    color:#b9b9b9;
    font-size:12px;
}

.column#middle, .columns#middle{
    text-align: center;  
}

.column:last-child, .columns:last-child{
    text-align: right;
}

/* Clear floats after the columns */
.key:after, .marker:after {
    content: "";
    display: table;
    clear: both;
}

.mapboxgl-ctrl-compass {
display: none !important;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'PT Sans', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  color: #F3F3DD;
  background-color: #383838;
  /* border-color: #91785D; */
  max-width: 250px;
  /* box-shadow: 3px 3px 2px #8B5D33; */
}

.mapboxgl-popup p {
    margin: 0px;
}

@media screen and (max-width:640px){
    #carbon-brief-logo{
        display: none;
    }
    #cb-logo{
    width: 35px;
    position: absolute;
    display: inherit;
    top: 532px;
    z-index: 1;
    right: 5px;
    }
    #attribution{
        padding-top:12%;
    }
    #adb {
        display: none;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 17px;
    }
    .key {
        font-size: 11px;
    }


}

@media screen and (max-width: 450px) {
    #map {
        height: 400px;
    }
    #cb-logo {
        top: 335px;
        width: 30px;
        right: 8px;
    }
}

/* change colour of tip to match popup */

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #383838;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #383838;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #383838;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #383838;
}